name: Build and run tests
on:
  push:
  # pull_request: # Don't run twice
jobs:
  flakes-simple:
    strategy:
      matrix:
        include:
          - ghc: ghc-8.8.4
            allow-failure: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nixbuild/nix-quick-install-action@v5
        with:
          nix_version: 2.4pre20201205_a5d85d0
          nix_conf: experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v10
        with:
          name: cclaw
          # If you chose signing key for write access
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - uses: haskell/actions/setup@v1
        with:
          ghc-version: '8.8.4' # Exact version of ghc to use
          # cabal-version: 'latest'. Omitted, but defaults to 'latest'
          enable-stack: true
          stack-version: 'latest'
      - uses: actions/cache@v2.1.5
        name: Cache ~/.stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-non-nix-stack-${{ hashFiles('stack.yaml.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-non-nix-stack
      - name: Initial nix develop
        run: nix develop --profile .dev-profile -c sh -c 'which stack; which gf; echo $GF_LIB_PATH'
      - name: stack deps
        run: nix develop --profile .dev-profile -c stack build --system-ghc --only-dependencies
      - name: stack build
        # if: ${{ false }}
        run: nix develop --profile .dev-profile -c sh -c 'stack build --system-ghc --test --no-run-tests || echo "::warning file=app.js,line=1,col=5::Failure"'
      - name: stack test
        # if: ${{ false }}
        run: nix develop --profile .dev-profile -c sh -c 'stack test --system-ghc || echo "::warning file=app.js,line=1,col=5::Failure"'